<%-include ('partials/header')%>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 class="ubuntu-light normaltitle">
          <%=post.title%>
        </h1>
      </div>
    </div>
    <div class="row justify-content-center postbackground">
      <div class="col-auto imgborder postbackground pt-5">
        <img src="<%=post.imageName%> " class="img-fluid" width="1000" alt="">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto textborder postbackground">
        <div class="posttext ubuntu-light p-5 gray">
          <%-post.content%>
        </div>
      </div>
    </div>
    <% if (post.tip.toString()=="yazar-grafiker" || post.tip.toString()=="yazar-cizer" ) { %>
      <div class="row persons postbackground">
        <!-- Yazar -->
        <div class="col-md-5 postbackground">
          <p class="text-center">Yazar</p>
          <div class="card yesilborder mb-3 postbackground px-2 py-2 " style="max-width: 540px;">
            <div class="row ">
              <div class="col-4">
                <img src="<%=yazar.picture %> " height="188px" width="159px"
                  style="height: 150px; width: 150px; object-fit: cover;" class="card-img rounded-circle" alt="...">
              </div>
              <div class="col-8">
                <div class="card-body">

                  <h5 class="card-title text-center">
                    <%- yazar.firstName%> <%- yazar.lastName %> 
                  </h5>
                  <p class="card-text text-muted text-center">
                    <%= yazar.rutbe %>
                  </p>
                  <p class="text-center text-muted posttext">
                    <% if (yazar.linkedin.toString() !=="") { %>
                     <a href="<%=yazar.linkedin%>"><i class="fab fa-linkedin text-muted fa-lg"></i></a>
                    <% } %>

                    <% if (yazar.email.toString() !=="") { %>
                      <a href="mailto:<%=yazar.email%>"><i class="fas fa-envelope-square text-muted fa-lg"></i></a>
                     <% } %>

                     <% if (yazar.behance.toString() !=="") { %>
                      <a href="<%=yazar.behance%>"><i class="fab fa-behance-square text-muted fa-lg"></i></a>
                     <% } %>
                     <% if (yazar.behance.toString() !=="") { %>
                      <a href="<%=yazar.pinterest%>"><i class="fab fa-pinterest-square text-muted fa-lg"></i></a>
                     <% } %>
                  </p>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <!-- Grafiker -->
        <div class="col-md-5 postbackground">
          <% if (post.tip.toString()=="yazar-grafiker" ) { %>
            <p class="text-center">Grafiker</p>
            <% } %>
              <% if (post.tip.toString()=="yazar-cizer" ) { %>
                <p class="text-center">Çizer</p>
                <% } %>

                  <div class="card yesilborder mb-3 postbackground px-2 py-2 " style="max-width: 540px;">
                    <div class="row ">
                      <div class="col-4">
                        <img src="<%= grafiker.picture %> " height="188px" width="159px"
                          style="height: 150px; width: 150px; object-fit: cover;" class="card-img rounded-circle"
                          alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">

                          <h5 class="card-title text-center">
                            <%-grafiker.firstName %> <%- grafiker.lastName %> 
                          </h5>
                          <p class="card-text text-muted text-center">
                            <%- grafiker.rutbe %>
                          </p>
                        </p>
                        <p class="text-center text-muted posttext">
                          <% if (grafiker.linkedin.toString() !=="") { %>
                           <a href="<%=grafiker.linkedin%>"><i class="fab fa-linkedin text-muted fa-lg"></i></a>
                          <% } %>
      
                          <% if (grafiker.email.toString() !=="") { %>
                            <a href="mailto:<%=grafiker.email%>"><i class="fas fa-envelope-square text-muted fa-lg"></i></a>
                           <% } %>
                           <% if (grafiker.behance.toString() !=="") { %>
                            <a href="<%=grafiker.behance%>"><i class="fab fa-behance-square text-muted fa-lg"></i></a>
                           <% } %>
                           <% if (grafiker.behance.toString() !=="") { %>
                            <a href="<%=grafiker.pinterest%>"><i class="fab fa-pinterest-square text-muted fa-lg"></i></a>
                           <% } %>
                        </p>


                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
      <% } else { %>
        <div class="row postbackground persons">
          <!-- Yazar -->
          <div class="col-md-3"></div>
          <div class="col-md-6 postbackground">
            <div class="card yesilborder mb-3 postbackground px-2 py-2 " style="max-width: 540px;">
              <div class="row ">
                <div class="col-4">
                  <img src="<%=yazar.picture %> " height="188px" width="159px"
                    style="height: 150px; width: 150px; object-fit: cover;" class="card-img rounded-circle" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body">

                    <h5 class="card-title text-center">
                      <%- yazar.firstName%> <%- yazar.lastName %> 
                    </h5>
                    <p class="card-text text-muted text-center">
                      <%= yazar.rutbe %>
                    </p>
                  </p>
                  <p class="text-center text-muted posttext">
                    <% if (yazar.linkedin.toString() !=="") { %>
                     <a href="<%=yazar.linkedin%>"><i class="fab fa-linkedin text-muted fa-lg"></i></a>
                    <% } %>

                    <% if (yazar.email.toString() !=="") { %>
                      <a href="mailto:<%=yazar.email%>"><i class="fas fa-envelope-square text-muted fa-lg"></i></a>
                     <% } %>

                     <% if (yazar.behance.toString() !=="") { %>
                      <a href="<%=yazar.behance%>"><i class="fab fa-behance-square text-muted fa-lg"></i></a>
                     <% } %>
                     <% if (yazar.behance.toString() !=="") { %>
                      <a href="<%=yazar.pinterest%>"><i class="fab fa-pinterest-square text-muted fa-lg"></i></a>
                     <% } %>
                  </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <% } %>
        <div>
          <% if (previous != "bos") { %>
           <a href="/post/<%= previous._id %>" class="">previous</a>
          <% } %>

          <% if (next != "bos") { %>
            <a href="/post/<%= next._id %>" class="">next</a>
           <% } %>
        </div>


  </div>


  <%- include('partials/footer')%>